<div class="large-12 columns">
    <h5>Name</h5>
    <p>
      {{input value=model.Name}}
    </p>
    <p>
      {{model.Company}}<br>
      {{model.Title}}<br>
      {{model.LeadSource}}<br>
      {{model.Email}}<br>
    </p>
    <ul class="inline-list">
      <li>{{#link-to 'leads'}}Back{{/link-to}}</li>
      <li><a action="delete">Delete</a></li>
    </ul>
</div>

{{outlet}}
