<div class="large-12 columns">
    <h5>{{Name}}</h5>
    <p>
      <strong>Billing Address</strong><br>
      {{BillingCity}}, {{BillingState}} {{BillingPostalCode}}<br>
      {{BillingCountry}}
    </p>
    <ul class="inline-list">
      <li>{{#link-to 'accounts'}}Back{{/link-to}}</li>
      <li><a action="delete">Delete</a></li>
    </ul>
</div>

{{outlet}}
